@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply outline-none placeholder:text-gray-400 bg-transparent w-full px-2 py-2  mr-8;
  }
}

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: url("/static/fonts/Helvetica\ Neue\ LT\ GEO\ 65\ Medium.ttf");
  }
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.49625787815126055) 43%,
    rgba(0, 212, 255, 0) 99%
  );
}
